*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}
body{
    background:#f8fafc;
    color:#0f172a;
}
.navbar{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
    border-bottom:1px solid #e2e8f0;
    box-shadow:none;
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#2563eb;
}

nav{
display:flex;
gap:20px;
}

nav a{
text-decoration:none;
color:#657daa;
font-weight:600;
}

nav a:hover{
color:#405580;
}

.container{
width:95%;
max-width:1400px;
margin:auto;
padding:30px 0;
}
.header{
    text-align:center;
    margin:40px 0;
}

.header h1{
    font-size:56px;
    color:#2563eb;
    margin-bottom:10px;
}

.header p{
    color:#64748b;
    font-size:18px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:18px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}
thead{
    background:#2563eb;
}

thead th{
color:white;
padding:16px;
text-align:left;
}

tbody td{
padding:16px;
border-bottom:1px solid #eef2ff;
}

tbody tr:hover{
    background:#f4f7fc;
}
button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

button:hover{
    background:#1d4ed8;
}

/* CONTACT MODAL */

.contact-modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,.5);
z-index:9999;
}

.contact-modal-content{
background:white;
width:90%;
max-width:550px;
margin:80px auto;
padding:30px;
border-radius:20px;
position:relative;
}

.close-contact{
position:absolute;
right:20px;
top:10px;
font-size:30px;
cursor:pointer;
color:#405580;
}

#contactModalBody a{
    background:#2563eb;
}
#contactModalBody a{
display:inline-block;
margin-top:10px;
text-decoration:none;
color:white;
background:#405580;
padding:10px 15px;
border-radius:8px;
}
#contactModalBody a:hover{
    background:#1d4ed8;
}

/* MOBILE */

@media(max-width:768px){


.navbar{
    flex-direction:column;
    gap:15px;
    text-align:center;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.header h1{
    font-size:28px;
    text-align:center;
}

.header p{
    text-align:center;
}

table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
}

.contact-modal-content{
    width:95%;
    margin:30px auto;
    padding:20px;
}


}
