*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f8fafc;
color:#0f172a;
}

/* NAVBAR */

.navbar{
background:#ffffff;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px;
border-bottom:1px solid #e2e8f0;
}

.logo{
font-size:24px;
font-weight:700;
color:#2563eb;
}

nav{
display:flex;
gap:20px;
}

nav a{
text-decoration:none;
color:#64748b;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#1d4ed8;
}

/* CONTAINER */

.container{
width:95%;
max-width:1200px;
margin:auto;
padding:40px 20px;
}

/* HEADER */

.header{
text-align:center;
margin-bottom:30px;
}

.header h1{
font-size:42px;
color:#2563eb;
margin-bottom:10px;
}

.header p{
color:#64748b;
font-size:16px;
}

/* TABLE */

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 8px 25px rgba(0,0,0,.06);
}

thead{
background:#2563eb;
}

thead th{
color:white;
padding:16px;
text-align:left;
}

tbody td{
padding:16px;
border-bottom:1px solid #eef2ff;
}

tbody tr:hover{
background:#eff6ff;
transition:.2s;
}

/* BUTTONS */

button{
border:none;
background:#2563eb;
color:white;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
font-weight:600;
font-family:'Segoe UI',sans-serif;
}

button:hover{
opacity:0.9;
}

.approve-btn{
background:#16a34a;
}

.approve-btn:hover{
opacity:0.9;
}

.reject-btn{
background:#ef4444;
}

.reject-btn:hover{
opacity:0.9;
}

/* MOBILE */

@media(max-width:768px){

.navbar{
    flex-direction:column;
    gap:15px;
    text-align:center;
    padding:15px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

.header h1{
    font-size:30px;
}

.header p{
    font-size:14px;
}

table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
}

}
.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    z-index:9999;
}

.modal-content{
    background:white;
    width:90%;
    max-width:600px;
    margin:80px auto;
    padding:30px;
    border-radius:20px;
}

.close{
    float:right;
    font-size:28px;
    cursor:pointer;
}

#credentialBody{
    margin-top:20px;
    line-height:2;
}